<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="14" />
  <application android:label="CimmytApp.Droid" android:theme="@style/MyTheme">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCFVDQBvLzdNzm5ZfweMKfTHEKmZyHA4ug" />
  </application>
</manifest>